.image-9-icon {
  position: absolute;
  top: calc(50% - 1540.5px);
  left: calc(50% - 677px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.e-pres-child {
  position: absolute;
  top: calc(50% - 534.5px);
  left: calc(50% - 712px);
  border-radius: 45px;
  background-color: var(--white);
  width: 1425px;
  height: 1698px;
}
.days,
.days1 {
  position: absolute;
  top: calc(50% + 441.5px);
  left: calc(50% + 203px);
  display: inline-block;
  width: 375px;
  height: 70px;
}
.days1 {
  top: calc(50% + 812.5px);
}
.tablet {
  margin: 0;
}
.medications,
.tablet-details,
.tablet-details1,
.tablet-details2,
.tablet-details3 {
  position: absolute;
  top: calc(50% - 168.5px);
  left: calc(50% - 292px);
  display: inline-block;
  width: 375px;
  height: 70px;
}
.medications,
.tablet-details1,
.tablet-details2,
.tablet-details3 {
  top: calc(50% + 882.5px);
}
.medications,
.tablet-details2,
.tablet-details3 {
  top: calc(50% + 525.5px);
  left: calc(50% - 297px);
}
.medications,
.tablet-details3 {
  top: calc(50% + 165.5px);
}
.medications {
  top: calc(50% - 484.5px);
  left: calc(50% - 277px);
  font-size: var(--font-size-17xl);
}
.e-pres-item {
  position: absolute;
  top: calc(50% - 1063.5px);
  left: calc(50% - 712px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 734px;
  height: 201px;
}
.daco-5511364-1-icon {
  position: absolute;
  top: calc(50% - 1048.5px);
  left: calc(50% - 684px);
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.alex-clare {
  margin: 0;
}
.alex-clare,
.medical-number {
  font-weight: 600;
}
.ak6383950k,
.diagnosis {
  font-family: var(--font-poppins);
}
.diagnosis {
  font-weight: 600;
}
.alex-clare-medical-container {
  position: absolute;
  top: calc(50% - 1037.5px);
  left: calc(50% - 481px);
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 403px;
  height: 139px;
  font-family: var(--font-poppins);
}
.e-pres-inner {
  position: absolute;
  top: calc(50% - 1063.5px);
  left: calc(50% + 313px);
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 400px;
  height: 201px;
}
.notes-patient-container {
  position: absolute;
  top: calc(50% - 1011.5px);
  left: calc(50% + 362px);
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 403px;
  height: 139px;
  font-family: var(--font-poppins);
}
.image-151-icon,
.image-152-icon {
  position: absolute;
  top: calc(50% - 1035.5px);
  left: calc(50% - 60px);
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-152-icon {
  top: calc(50% - 1039.5px);
  left: calc(50% + 638px);
}
.profile {
  top: calc(50% - 629.5px);
  left: calc(50% - 666px);
  width: 177px;
  height: 91px;
}
.clinical-record,
.documents,
.insurance,
.medications1,
.profile {
  position: absolute;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-family: var(--font-poppins);
}
.clinical-record {
  top: calc(50% - 629.5px);
  left: calc(50% - 481px);
  width: 392px;
  height: 28px;
}
.documents,
.insurance,
.medications1 {
  top: calc(50% - 627.5px);
}
.medications1 {
  left: calc(50% - 132px);
  color: rgba(0, 0, 0, 0.43);
  width: 345px;
  height: 96px;
}
.documents,
.insurance {
  left: calc(50% + 173px);
  width: 249px;
  height: 40px;
}
.insurance {
  top: calc(50% - 626.5px);
  left: calc(50% + 447px);
  width: 219px;
  height: 22px;
}
.image-153-icon,
.image-154-icon,
.image-155-icon,
.image-156-icon {
  position: absolute;
  top: calc(50% - 345.5px);
  left: calc(50% - 686px);
  width: 350px;
  height: 261.8px;
  object-fit: cover;
}
.image-154-icon,
.image-155-icon,
.image-156-icon {
  top: calc(50% + 7.5px);
}
.image-155-icon,
.image-156-icon {
  top: calc(50% + 360.5px);
}
.image-156-icon {
  top: calc(50% + 713.5px);
}
.amlodipine-besylate,
.atorvastatin-tablets-ip20-container,
.benidipine-hydrochloride-table,
.rosuvastatin-10-mg {
  position: absolute;
  top: calc(50% - 282.5px);
  left: calc(50% - 292px);
  display: inline-block;
  width: 375px;
  height: 89px;
}
.amlodipine-besylate,
.benidipine-hydrochloride-table,
.rosuvastatin-10-mg {
  top: calc(50% + 60.5px);
}
.amlodipine-besylate,
.benidipine-hydrochloride-table {
  top: calc(50% + 767.5px);
}
.benidipine-hydrochloride-table {
  top: calc(50% + 402.5px);
  height: 123px;
}
.days2,
.days3,
.duration,
.progress {
  position: absolute;
  display: inline-block;
  width: 375px;
  height: 70px;
}
.duration {
  top: calc(50% - 484.5px);
  left: calc(50% + 181px);
  font-size: var(--font-size-17xl);
}
.days2,
.days3,
.progress {
  top: calc(50% - 247.5px);
  left: calc(50% + 203px);
}
.days3,
.progress {
  top: calc(50% + 95.5px);
}
.progress {
  top: calc(50% - 484.5px);
  left: calc(50% + 479px);
  font-size: var(--font-size-17xl);
}
.e-pres-child1,
.e-pres-child2,
.e-pres-child3,
.rectangle-icon {
  position: absolute;
  top: calc(50% - 221.5px);
  left: calc(50% + 469px);
  border-radius: var(--br-smi-5);
  width: 219px;
  height: 25px;
}
.e-pres-child1,
.e-pres-child2,
.e-pres-child3 {
  top: calc(50% + 165.5px);
  left: calc(50% + 506px);
  width: 144px;
}
.e-pres-child2,
.e-pres-child3 {
  top: calc(50% + 896.5px);
  left: calc(50% + 479px);
  width: 199px;
}
.e-pres-child3 {
  top: calc(50% + 525.5px);
  left: calc(50% + 548px);
  width: 57px;
}
.image-137-icon,
.image-157-icon,
.image-158-icon,
.image-159-icon,
.image-40-icon {
  position: absolute;
  top: calc(50% - 133.5px);
  left: calc(50% - 199px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-137-icon,
.image-157-icon,
.image-158-icon,
.image-159-icon {
  top: calc(50% + 917.5px);
}
.image-137-icon,
.image-157-icon,
.image-158-icon {
  top: calc(50% + 560.5px);
}
.image-137-icon,
.image-157-icon {
  top: calc(50% + 200.5px);
}
.image-137-icon {
  top: calc(50% + 1049.5px);
  left: calc(50% - 277px);
  width: 522px;
  height: 114px;
}
.start-date-container1 {
  line-break: anywhere;
  width: 100%;
}
.start-date-container,
.start-date-container2,
.start-date-container4,
.start-date-container6 {
  position: absolute;
  top: calc(50% - 323.5px);
  left: calc(50% + 504px);
  font-family: var(--font-poppins);
  display: flex;
  align-items: center;
  width: 190px;
  height: 76px;
}
.start-date-container2,
.start-date-container4,
.start-date-container6 {
  top: calc(50% + 785.5px);
  left: calc(50% + 506px);
}
.start-date-container4,
.start-date-container6 {
  top: calc(50% + 407.5px);
}
.start-date-container6 {
  top: calc(50% + 67.5px);
}
.e-pres {
  position: relative;
  background-color: #f0f8ff;
  width: 100%;
  height: 3335px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
